.ml-20px{
    margin-left: 20px;
}
.bold{
    font-weight: bold;
}
.formBlock{
    width: 80%;
    box-shadow: 1px 2px 5px #ccc;
    padding: 15px;
    border-radius: 10px;
    margin: 0 auto;
}
.titleHead{
    text-decoration: underline;
    color: #E91E63;
    margin-bottom: 40px;
}
.require{
    color: red;
}
.formSection{
    display: flex;
    margin-top: 20px;
}
.formBlock .formInput{
    display: flex;
    flex-direction: column;
}
.formInput .inputText{
    height: 35px;
    padding: 5px 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 1px 2px 4px #dadada;
    border-radius: 5px;
    margin-top: 6px;
    width: 270px;

}
.formInput.emailBlock .inputText{
    width: 560px;
}
/**/
.ratingBlock{
    width: 160px;
}
.ratingBlock .rating {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .ratingBlock .rating input {
    display: none;
  }
  
  .ratingBlock  .rating label {
    cursor: pointer;
    width: 25px;
    height: 30px;
    margin: 0 4px;
    position: relative;
  }
  
  .ratingBlock .rating label:before {
    content: "\2605";
    font-size: 30px;
    color: #d6d6d6;
    position: absolute;
    left: 0;
    top: -3px;
  }
  
  .ratingBlock .rating input:checked ~ label:before {
    color: gold;
  }
  .radio-input{
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    font-size: 12px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  tr, td:first-child {
    text-align: left;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .commentBlock .inputText{
    width: 100%;
    height: 100px;
  }
  .submitBtn{
    padding: 12px 25px;
    border: 2px solid #fff;
    background: #E91E63;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    margin-top: 25px;
  }
  .submitBtn:hover{
    background: #F8BBD0;
    border: 2px solid #E91E63;
    color: #E91E63;
  }
  @media (max-width: 767.98px)   { 
    .formInput.emailBlock .inputText{
        width: 100%;
    }
    .nameSection .formInput,.nameSection .inputText{
       width: 100%;
    }
  }
 @media (max-width: 575.98px) { 
    .formBlock{
        width: 95%;
        margin: auto;
    }
    .nameSection{
        flex-direction: column;
    }
    .lastNameBlock{
        margin-left: 0;
        margin-top: 20px;
    }
    .tableBlock{
        width: 100%;
        overflow: auto;
    }
}
